@font-face 
{ 
    font-family: "SFProDisplay-Regular";
    src: url("../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot");
    src: url("../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff") format("woff"),
    url("../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face 
{ 
    font-family: "CaviarDreamsBold";
    src: url("../../fonts/CaviarDreamsBold/CaviarDreamsBold.eot");
    src: url("../../fonts/CaviarDreamsBold/CaviarDreamsBold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/CaviarDreamsBold/CaviarDreamsBold.woff") format("woff"),
    url("../../fonts/CaviarDreamsBold/CaviarDreamsBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body
{
	background: #f7fafc;
	margin: 0px;
}

*
{
	box-sizing: border-box;
	font-family: "SFProDisplay-Regular", sans-serif;
}

.wrap 
{
   /*max-width: 1120px;*/
   max-width: 1600px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}

button
{
	cursor: pointer;
	transition: opacity 0.5s ease;
}

select:focus,
input:focus
{
    outline: none;
}

h1,h2,h3,h4,p
{
	margin: 0px;
}

a
{
	text-decoration: none;
	color: black;
	transition: opacity 0.5s ease;
}

a:hover,
button:hover
{
	opacity: 0.7;
}

.title
{
	font-size: 40px;
	margin: 0px;
}

/**********Хидер************/
.show
{
	display: block !important;
}

header
{
	background: #ffffff;
	padding: 30px 0;
	border-bottom: 1px solid #cfd1d0;
}

header .header-line
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .menu
{
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	width: calc(50% - 94px - 10px);
	z-index: 10;
}

header .header-contacts
{
	width: calc(50% - 94px - 10px);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header .menu a
{
	text-decoration: none;
	color: #4c4c4c;
	font-size: 24px;
}

header .menu li
{
	list-style-type: none;
	margin-right: 50px;
}

header .menu li:last-child
{
	margin-right: 0px;
}

header .logo
{
	width: 188px;
}

header .header-contacts .head-phone
{
	font-size: 24px;
	text-decoration: none;
	color: #4c4c4c;
	margin-right: 35px;
	font-weight: bold;
}

header .header-contacts .wats-app
{
	width: 220px;
	height: 50px;
	background: #ffcc66;
	border-radius: 30px;
	border: none;
	font-size: 16px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
/**********Хидер************/

/*********Футер***************/
footer
{
	background: #ffffff;
	padding: 45px 0 30px 0;
	margin-top: 50px;
}

footer .footer-one
{
	display: flex;
	justify-content: space-between;
	padding-bottom: 60px;
}

footer li
{
	list-style-type: none;
}

footer a
{
	text-decoration: none;
}

footer ul
{
	padding: 0px;
	margin: 0px;
}

footer .footer-menu
{
	display: flex;
}

footer .footer-menu div
{
	margin-right: 145px;
}

footer .footer-menu h2
{
	font-size: 24px;
	margin: 0 0 45px 0;
}

footer .footer-menu a
{
	display: block;
	font-size: 21px;
	margin-top: 25px;
	color: black;
}

footer .footer-phones
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

footer .footer-phones div
{
	text-align: right;
}

footer .footer-phones div:last-child
{
	margin-top: 40px;
}

footer .footer-phones a
{
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	color: black;
}

footer .footer-phones p
{
	margin: 0px;
	font-size: 21px;
}

footer .footer-two
{
	padding-top: 25px;
	border-top: 1px solid #a0a0a0;
}

footer .footer-two .wrap
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .footer-two .wrap p
{
	margin: 0px;
	font-size: 16px;
	width: 45%;
}

footer .footer-two .wrap div
{
	display: flex;
}

footer .footer-two .wrap div a
{
	font-size: 16px;
	text-decoration: none;
	color: #31b4bb;
	margin-left: 80px;
}


/*********Футер***************/







































