@media screen and (max-width: 750px)
{
	.point-title
	{
		font-size: 10px;
	}
}

@media screen and (min-width: 750px)
{
	.filter .variants div:hover
	{
		background: linear-gradient(to left, #34a5b6, #2ec0bf);
	}

	.filter .variants div:hover .var-descr
	{
		color: white;
	}

	.filter .variants div:hover .var-amount
	{
		color: #fbb358 !important;
	}
}

@media screen and (max-width: 1580px)
{
	.nav_chain li a
	{
		font-size: 16px;
	}

	.nav_chain svg
	{
		width: 15px;
		height: 15px;
	}
}

@media screen and (max-width: 750px)
{
	.nav_chain
	{
		margin-bottom: 30px;
	}

	.nav_chain li a
	{
		font-size: 13px;
	}
}
/******************/
@media screen and (max-width: 1700px)
{
	.filter
	{
		margin-left: 60px;
	}
}

@media screen and (max-width: 1580px)
{
	.filter .title 
	{
		font-size: 32px;
	}

	.filter .variants span,
	.filter .all-param,
	.filter .filter-rule #drop-filter
	{
		font-size: 16px;
	}

	.filter .variants div, 
	.filter .all-param
	{
		height: 40px;
	}

	.filter
	{
		margin-left: 15px;
	}

	.filter #right-map
	{
		height: 800px;
	}
}

@media screen and (max-width: 1000px)
{
	.filter .title
	{
		margin: 0 0 30px 0;
	}

	.filter .variants div, 
	.filter .all-param
	{
		padding: 0 15px;
	}
}

@media screen and (max-width: 750px)
{
	/**поправка**/
	.filter .variants div
	{
		margin: 0 10px 10px 0;
	    border-radius: 100px;
	    padding: 5px 10px;
	    height: auto;
	}

	.filter .all-param
	{
	    border-radius: 100px;
	    padding: 5px 10px;
	    height: auto;
	}

	.filter .variants span,
	.filter .all-param
	{
		font-size: 13px;
	}
	/**поправка**/

	.filter
	{
		flex-direction: column;
	}

	.filter .left-filt,
	.filter #right-map
	{
		width: 100%;
		padding-right: 0px;
	}

	.filter 
	{
	    margin-right: 15px;
	}

	.filter #right-map
	{
		height: 500px;
		margin-top: 20px;
	}

	.filter .title
	{
		font-size: 24px;
	}
}







